@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: linear-gradient(68.15deg, #25292a 16.25%, #03040a 85.61%);
    font-size: 100%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    max-width: 7%;
    max-height: 7%;
}


.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Kanit', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid gray;

}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.conteudo-principal-escrito-titulo{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-botao{
    border: 1px solid rgb(230, 217, 217);
    background-color:rgb(230, 217, 217) ;
    width:185px ;
    height: 67px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #0a0a0a; 
    cursor: pointer;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem{
    padding: 15px;
  height: 430px;
}

.conteudo-secundário{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 48px;
}

.conteudo-secundário-titulo{
    border-top: 0.4px solid rgb(230, 217, 217);
    padding-top: 48px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    color: #FFF2E7;
}

.conteudo-secundário-paragrafo{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF2E7;
}

.rodape{
    padding: 32px;
    border-top: 0.4px solid gray;
}

.rodape-imagem{
    max-width: 15%;
    display: block;
    margin: 0 auto;
}